Router bgp 100
neighbor 1.1.1.1 remote-as 100
neighbor 1.1.1.1 nexthop-self
neighbor 1.1.1.1 updatesource loopback 1
neighbor 1.1.1.1 route-map NETG1 in
neighbor 1.1.1.1 route-map INDIA1 out
neighbor 2.2.2.2 remote-as 200
neighbor 2.2.2.2 nexthop-self
neighbor 2.2.2.2 updatesource loopback 1
neighbor 2.2.2.2 route-map NETG2 in
neighbor 2.2.2.2 route-map INDIA2 out
neighbor 3.3.3.3 remote-as 300
neighbor 3.3.3.3 nexthop-self
neighbor 3.3.3.3 updatesource loopback 1
neighbor 3.3.3.3 route-map NETG3 in
neighbor 3.3.3.3 route-map INDIA3 out
neighbor 4.4.4.4 remote-as 400
neighbor 4.4.4.4 nexthop-self
neighbor 4.4.4.4 updatesource loopback 1
neighbor 4.4.4.4 route-map NETG4 in
neighbor 4.4.4.4 route-map INDIA4 out
